<h2 mat-dialog-title>Add Account Type</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="financialTypeForm">
        <div class="row">
            <div class="col">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Account Type</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="accountType">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Type</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="type">
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-outline-default btn-round">Cancel</button>&nbsp;
    <button mat-button class="btn btn-primary btn-round" [disabled]="!financialTypeForm.valid" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>