<h2 mat-dialog-title>Add Account Type</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="financialTransctionForm">
        <div class="row">
            <div class="col">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Transaction Number</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="transactionNumber">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="name">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [max]="maxDate" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="dateTime">
                    <owl-date-time #dt1></owl-date-time>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Choose an option</mat-label>
                    <mat-select formControlName="accountType">
                        <mat-option *ngFor="let item of accountTypeList" [value]="item.accountType">{{item.accountType}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Nominal</mat-label>
                    <input type="text" matInput autocomplete="off" formControlName="nominal">
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-outline-default btn-round">Cancel</button>&nbsp;
    <button mat-button class="btn btn-primary btn-round" [disabled]="!financialTransctionForm.valid"
        (click)="onSubmit()">Submit</button>
</mat-dialog-actions>