<div style="background-color: #E7E7E7; height: 100vh;">
    <div style="position: absolute; top: 20%; left: 40%;">
        <mat-card class="example-card" style="padding: 36px;">
            <mat-card-content>
                <div class="row text-center">
                    <div class="col">
                        <h3>LOGIN</h3>
                    </div>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" class="form-control" placeholder="Email" formControlName="email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" placeholder="*****" formControlName="password">
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-2"></div>
                        <div class="col-8">
                            <button type="submit" style="width: 100%;" class="btn btn-primary btn-round" [disabled]="!loginForm.valid">Login</button>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>