<div class="row mb-3">
    <div class="col">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Filter
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row">
                    <div class="col-3">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>Name</mat-label>
                            <input type="text" matInput autocomplete="off" [(ngModel)]="filter.name">
                        </mat-form-field>
                    </div>
                    <div class="col-3">
                        <mat-form-field style="width: 100%;" appearance="outline">
                            <mat-label>Transaction Number</mat-label>
                            <input type="text" matInput autocomplete="off" [(ngModel)]="filter.transactionNumber">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button mat-button style="float: right;" class="btn btn-info btn-round"
                            (click)="onSearch()">Search</button>
                    </div>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>

<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">Transaction</h4>
                    </div>
                    <div class="col text-right">
                        <button class="btn btn-primary btn-round" (click)="add()">Add</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive" style="overflow: hidden;">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Date/Time
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Transaction Number
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Nominal
                            </th>
                            <th>
                                Action
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of dataTransactionList">
                                <td>
                                    {{item.dateTime | date:'dd-MMM-yyyy hh:mm'}}
                                </td>
                                <td>
                                    {{item.accountType}}
                                </td>
                                <td>
                                    {{item.transactionNumber}}
                                </td>
                                <td>
                                    {{item.name}}
                                </td>
                                <td>
                                    Rp {{item.nominal | number}}
                                </td>
                                <td>
                                    <button class="btn btn-success btn-round" (click)="edit(item)">Edit</button>&nbsp;
                                    <button class="btn btn-danger btn-round" (click)="delete(item)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>