<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col">
                        <h4 class="card-title">Account Types</h4>
                    </div>
                    <div class="col text-right">
                        <button class="btn btn-primary btn-round" (click)="addType()">Add</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive" style="overflow: hidden;">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                Account Type
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Action
                            </th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of financialTypeList">
                                <td>
                                    {{item.accountType}}
                                </td>
                                <td>
                                    {{item.type}}
                                </td>
                                <td>
                                    <button class="btn btn-success btn-round" (click)="editType(item)">Edit</button>&nbsp;
                                    <button class="btn btn-danger btn-round" (click)="delete(item)">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>