<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6">
    <div class="row" style="padding: 0; margin: 0;">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-3 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-money-coins text-success"></i>
              </div>
            </div>
            <div class="col-9 col-md-8">
              <div class="numbers">
                <p class="card-category">Total Transaction</p>
                <p class="card-title">{{sumTotalTransaction | number}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
        </div>
      </div>
    </div>
    <div class="row" style="padding: 0; margin: 0;">
      <div class="card card-stats">
        <div class="card-body ">
          <div class="row">
            <div class="col-5 col-md-4">
              <div class="icon-big text-center icon-warning">
                <i class="nc-icon nc-tile-56 text-success"></i>
              </div>
            </div>
            <div class="col-7 col-md-8">
              <div class="numbers">
                <p class="card-category">Count Transaction</p>
                <p class="card-title">{{countTotalTransaction}}
                <p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer ">
          <hr>
        </div>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Daily Transaction</h5>
      </div>
      <div class="card-body">
        <canvas id="speedChart" width="400" height="100"></canvas>
      </div>
      <div class="card-footer">
        <hr />
      </div>
    </div>
  </div>
</div>