<h2 mat-dialog-title>{{message}}</h2>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-outline-default btn-round">Cancel</button>&nbsp;
    <button mat-button class="btn btn-primary btn-round" (click)="onSubmit()">Submit</button>
</mat-dialog-actions>